body {
    background-image: url('images/mario-bg.gif');
    background-position: 100px -100px;
    background-size: cover;
    font-family: 'New Super Mario Font U', sans-serif; /* Change the font family */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Transparent white for better readability */
    padding: 20px;
    border-radius: 8px;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    margin: 10px;
    width: 200px;
}

input[type="submit"] {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #ffcc00; /* Mario yellow */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'New Super Mario Font U', sans-serif; /* Change the font family */
}

input[type="submit"]:hover {
    background-color: #ffee33; /* Lighter Mario yellow */
}
